@font-face {
    font-family: Merriweather; /* Имя шрифта */
    src: url(../fonts/Merriweather-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Merriweather-Light; /* Имя шрифта */
    src: url(../fonts/Merriweather-Light.ttf); /* Путь к файлу со шрифтом */
}

body{
    font-size: 20px;
    font-family: Merriweather;
}

.pt_45{padding-top: 45px;}
.pt_75{padding-top: 75px;}
.pb_30{padding-bottom: 30px;}
.pb_85{padding-bottom: 85px;}
.ts_16{font-size: 16px;}
.ts_18{font-size: 18px;}
.ts_40{font-size: 40px;}

header{
    background: url("../img/main.png") center;
    height: 960px;
    color: rgb(155, 155, 155);
}
.main_text{
    font-family: Merriweather-Light;
}
a{
    color: rgb(155, 155, 155);
    padding: 8px;
}
a:hover{
    text-decoration: none;
    border: 2px solid rgb(203, 203, 203);
    padding: 6px;
    color: rgb(155, 155, 155);
}

/*S01*/
#S01{
    background: url("../img/yellow.png") center;
}
#S01 > p{font-size: 40px;}